D-ITG/
other/

.DS_Store
.env
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
app/__pycache__/utils.cpython-38.pyc
app/__pycache__/routes.cpython-38.pyc
app/__pycache__/models.cpython-38.pyc

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
